<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo+27px">
        <title>
            Finstagram
        </title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>